@import './reset.css';

:root {
  --primary-rgb: 121, 135, 119;
  --light-rgb: 248, 237, 227;
  --dark-rgb: 61, 68, 60;
  --background-rgb: 162, 178, 159;
}

body {
  color: rgb(var(--light-rgb));
  background-color: rgb(var(--background-rgb));
  line-height: 1.5;
}

::placeholder {
  color: rgb(var(--primary-rgb), 0.75);
}
