.nav {
  z-index: 999;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: rgb(var(--background-rgb));
}

.nav, .after {
  height: 3rem;
  width: 100vw;
  padding: 0 20vw;
}

.button {
  height: 3rem;
  width: 3rem;
  transition: filter 0.3s;
}

.button:hover {
  filter: brightness(0.5);
}

@media (max-width: 768px) {
  .nav, .after {
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .nav, .after {
    padding: 0 10vw;
  }
}
